.f-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}


.f-dialog-hidden {
  display: none;
}

.f-dialog {
  width: 50%;
  height: 50%
}

.f-dialog-content {
  background: #fff;
  position: relative;
  z-index: 10000;
  width: 40%;
  height: 30%;
}