/**
 * @author lastly
 * @deprecated f-button 组件样式
 * @date 2021年9月13日15:03:38
 */

// 自定义按钮类型背景色
@-f-button-default-bg: #fff;
@-f-button-primary-bg: #007bff;
@-f-button-success-bg: #28a745;
@-f-button-error-bg: #eb1c30;
@-f-button-warning-bg: #f3ab40;

// 自定义按钮类型字体色
@-f-button-default-font-color: #fff;
@-f-button-dark-font-color: #606266;

// 自定义按钮类型禁用背景色
@-f-button-default-bg-disabled: #ebeef5;
@-f-button-warning-bg-disabled: #ecb868;
@-f-button-error-bg-disabled: #e24454;
@-f-button-primary-bg-disabled: #4da4fa;
@-f-button-success-bg-disabled: #61b976;

// 默认样式
.f-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 1em;
  border-radius: 4px;
  font-family: inherit;
  user-select: none; // 禁止用户选中
  cursor: pointer;
  text-align: center;
  position: relative;
  &.pure {
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;

    &::after {
      background-image: radial-gradient(circle, #ccc 10%, transparent 11%);
    }
  }

  // 形状
  &.circle {
    border-radius: 1.5em;
  }

  // 适应其父元素
  &.block {
    // width: 100%;
    display: block;
  }
}

/***************** button 点触水波纹（亮色） **************/
.ripple(@-color) {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, @-color 10%, transparent 11%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(12, 12);
    opacity: 0;
    transition: transform 0.6s, opacity 0.6s;
  }
  &:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    //设置初始状态
    transition: 0s;
  }
}

.f-button-dark-ripple {
  .ripple(#333);
}

.f-button-bg-ripple {
  .ripple(#fff);
}

.f-button-bg-primary-ghost-ripple {
  .ripple(@-f-button-primary-bg);
}

.f-button-bg-warning-ghost-ripple {
  .ripple(@-f-button-warning-bg);
}

.f-button-bg-error-ghost-ripple {
  .ripple(@-f-button-error-bg);
}

.f-button-bg-success-ghost-ripple {
  .ripple(@-f-button-success-bg);
}

/***************** button尺寸类型 *******************/
// mini
.f-button-size-mini {
  padding: 4px 12px;
  font-size: 13px;
  .f-suffixIcon-icon {
    font-size: 13px !important;
  }
  .f-prefixIcon-icon {
    font-size: 13px !important;
  }
}

// default
.f-button-size-default {
  padding: 6px 20px;
  .f-suffixIcon-icon {
    font-size: 14px !important;
  }
  .f-prefixIcon-icon {
    font-size: 14px !important;
  }
}

// small
.f-button-size-small {
  padding: 6px 21px;
  font-size: 15px;
  .f-suffixIcon-icon {
    font-size: 15px !important;
  }
  .f-prefixIcon-icon {
    font-size: 15px !important;
  }
}

// big
.f-button-size-big {
  padding: 6px 22px;
  font-size: 18px;
  .f-suffixIcon-icon {
    font-size: 18px !important;
  }
  .f-prefixIcon-icon {
    font-size: 18px !important;
  }
}

/***************** button边框类型 *******************/
// 普通边框
.f-button-border-default {
  border-radius: 3px;
}

// 圆形边框
.f-button-border-radius {
  border-radius: 20px;
}

.active-shadow(@active-color, @color) {
  &:active {
    background-color: @active-color;
    box-shadow: 0 0 5px 1px @color; // box-shadow: 0 0 5px 1px $color;
  }
}

.hover-shadow(@hover-color) {
  &:hover {
    background-color: @hover-color;
  }
}

.button-bg(@font-color, @button-bg) {
  color: @font-color;
  background-color: @button-bg;
  border: 1px solid @button-bg;
  transition: 0.1s ease;
}

/***************** button type类型 ***************/
// type default
.f-button-bg-default {
  .button-bg(@-f-button-dark-font-color, @-f-button-default-bg);
  border: 1px solid #dcdfe6;
}

// type primary
.f-button-bg-primary {
  .button-bg(@-f-button-default-font-color, @-f-button-primary-bg);
}

// type error
.f-button-bg-error {
  .button-bg(@-f-button-default-font-color, @-f-button-error-bg);
}

// type success
.f-button-bg-success {
  .button-bg(@-f-button-default-font-color, @-f-button-success-bg);
}

// type warning
.f-button-bg-warning {
  .button-bg(@-f-button-default-font-color, @-f-button-warning-bg);
}

// type active
.f-button-bg-primary-active-hover {
  .active-shadow(#0062cc, #3c90eb);
  .hover-shadow(#0364ccde);
}

.f-button-bg-warning-active-hover {
  .active-shadow(#ffb443, #e9ae57);
  .hover-shadow(#e79e30);
}
.f-button-bg-success-active-hover {
  .active-shadow(#0ba12e, #4fc76b);
  .hover-shadow(#0a992c);
}

.f-button-bg-error-active-hover {
  .active-shadow(#e24d5c, #fc293ed0);
  .hover-shadow(#f30018d7);
}

// type active or hover ghost
.f-button-bg-primary-active-hover-ghost {
  .active-shadow(#0062cc, #3c90eb);
  .hover-shadow(#3c90eb);
  .ripple(#fff);
  &:hover {
    color: #fff !important;
  }
}

.f-button-bg-warning-active-hover-ghost {
  .active-shadow(#ffb443, #e9ae57);
  .hover-shadow(#e79e30);
  .ripple(#fff);
  &:hover {
    color: #fff !important;
  }
}
.f-button-bg-success-active-hover-ghost {
  .active-shadow(#0ba12e, #4fc76b);
  .hover-shadow(#0a992c);
  .ripple(#fff);
  &:hover {
    color: #fff !important;
  }
}

.f-button-bg-error-active-hover-ghost {
  .active-shadow(#e24d5c, #fc293ed0);
  .hover-shadow(#f30018d7);
  .ripple(#fff);
  &:hover {
    color: #fff !important;
  }
}

// type text
.f-button-text {
  box-sizing: border-box;
  display: inline-block;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

/***************** Ghost类型 ******************/
// primary ghost
.f-button-bg-primary-ghost {
  .button-bg(@-f-button-dark-font-color, #fff);

  color: #4ba2ff;
  border: 1px solid #4ba2ff;
}

// error ghost
.f-button-bg-error-ghost {
  .button-bg(@-f-button-dark-font-color, #fff);

  color: #ff4357d0;
  border: 1px solid #ff4357d0;
}

// default ghost
.f-button-bg-warning-ghost {
  .button-bg(@-f-button-default-font-color, #fff);

  color: #f3ab40;
  border: 1px solid #f3ab40;
}

// success ghost
.f-button-bg-success-ghost {
  .button-bg(@-f-button-dark-font-color, #fff);

  color: #28a745;
  border: 1px solid #28a745;
}

/*************** button禁用类型 ****************/
// type disabled default
.f-button-bg-default-disabled {
  cursor: not-allowed;
  border: 1px solid #ebeef5;
  color: #c0c4cc;
}

// type disabled primary
.f-button-bg-primary-disabled {
  cursor: not-allowed;
  .button-bg(@-f-button-default-bg, @-f-button-primary-bg-disabled);
}

// type disabled success
.f-button-bg-success-disabled {
  cursor: not-allowed;
  .button-bg(@-f-button-default-bg, @-f-button-success-bg-disabled);
}

// type disabled warning
.f-button-bg-warning-disabled {
  cursor: not-allowed;
  .button-bg(@-f-button-default-bg, @-f-button-warning-bg-disabled);
}

// type disabled error
.f-button-bg-error-disabled {
  cursor: not-allowed;
  .button-bg(@-f-button-default-bg, @-f-button-error-bg-disabled);
}

// button禁用类型 当类型为ghost

// type disabled primary 当类型为ghost
.f-button-bg-default-disabled-ghost {
  cursor: not-allowed;
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #c0c4cc;
}

// type disabled default 当类型为ghost
.f-button-bg-primary-disabled-ghost {
  cursor: not-allowed;
  border-color: #d9ecff;
  .button-bg(#8cc5ff, #ecf5ff);
}

// type disabled success 当类型为ghost
.f-button-bg-success-disabled-ghost {
  cursor: not-allowed;
  border: 1px solid #e1f3d8;
  .button-bg(#a4da89, #f0f9eb);
}

// type disabled warning 当类型为ghost
.f-button-bg-warning-disabled-ghost {
  cursor: not-allowed;
  border: 1px solid #faecd8;
  .button-bg(#f0c78a, #fdf6ec);
}

// type disabled error 当类型为ghost
.f-button-bg-error-disabled-ghost {
  cursor: not-allowed;
  border: 1px solid #f9a7a7;
  .button-bg(#f9a7a7, #fef0f0);
}

.f-prefixIcon-icon,
.f-suffixIcon-icon {
  text-align: center;
}

.f-button-text-slot {
  margin: 0 3px;
}
